@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.container{
    margin: 0 24px;
}

.navbar-container{
    height: 60px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    position: fixed;
    .navbar-left{
        display: flex;
        gap: 12px;
        .icon{
            display: flex;
            align-items: center;
        }
        .icon > *{
            font-size: 27px;
        }
        h1{
            font-size: 1.3rem;
            background-color: black;
            color: #fff;
            padding: 0 10px;
        }
    }
    .hidden{
        display: none;
    }
}

.sidebar-container{
    background-color: #fff;
    width: 60%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    .sidebar-links{
        h1{
            font-size: 1.3rem;
            background-color: black;
            color: #fff;
            padding: 0 10px;
            display: inline-block;
            margin-bottom: 12px;
        }
        ul{
            margin-top: 12px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #757575;
                    font-weight: 500;
                }
            }
        }
    }
    .sidebar-icon-close > *{
        font-size: 27px;
    }
}
.blank{
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 98;
    opacity: 0.2;
}

.hidden{
    display: none;
}

.label-container{
    background-color: #EBEDF0;
    padding: 3px 7px;
    .label-text{
        p{
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 320px) {
    // xtra-small
}

@media screen and (min-width: 480px) {
    // small
}

@media screen and (min-width: 768px) {
    // medium
}

@media screen and (min-width: 992px) {
    //large
}

@media screen and (min-width: 1200px) {
    //xtra-large
}