@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.container{
    padding-top: 4rem;
    margin: 0 12px;
    .title-page{
        color: #fff;
    }
}

.navbar-container{
    height: 60px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    .navbar-left{
        display: flex;
        gap: 12px;
        .icon{
            display: flex;
            align-items: center;
        }
        .icon > *{
            font-size: 27px;
        }
        a{
            text-decoration: none;
            h1{
                font-size: 1.3rem;
                background-color: black;
                color: #fff;
                padding: 0 10px;
            }
        }
    }
    .navbar-right{
        ul{
            list-style-type: none;
            display: none;
            gap: 12px;
            li{
                a{
                    text-decoration: none;
                    color: #000;
                    font-weight: 500;
                }
            }
        }
        a{
            text-decoration: none;
            color: #000;
        }
        .icon{
            display: none;
            cursor: pointer;
        }
        .searchbar{
            display: block;
            form{
                input{
                    font-family: 'Poppins';
                    border-radius: 6px;
                    width: 190px;
                    height: 30px;
                    padding: 8px 10px;
                    background-color: #e3e3e3;
                    border: none;
                }
                input:focus{
                    outline: none;
                }
            }
        }
    }
}

.sidebar-container{
    background-color: #fff;
    width: 17rem;
    height: 100vh;
    z-index: 3;
    position: fixed;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    left: -17rem;
    z-index: 101;
    .sidebar-links{
        h1{
            font-size: 1.3rem;
            background-color: black;
            color: #fff;
            padding: 0 10px;
            display: inline-block;
            margin-bottom: 12px;
        }
        a{
            text-decoration: none;
            color: #010100;
        }
        .icon{
            font-size: 1.5rem;
            margin: 12px 8px 0 0;
        }
        ul{
            margin-top: 12px;
            li{
                list-style-type: none;
                padding: 1px 6px;
                transition: all 0.2s ease-out;
                a{
                    text-decoration: none;
                    color: #757575;
                    font-weight: 500;
                    display: block;
                }
            }
        }
        li:hover{
            background-color: #eceaea;
            border-radius: 3px;
            a{
                color: #000;
                font-weight: 600;

            }
        }
    }
    .sidebar-icon-close > *{
        font-size: 27px;
        cursor: pointer;
    }
}

.blank{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 100;
}

.blank-info{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 99;
}


.hidden{
    display: none;
}

.label-container{
    background-color: #EBEDF0;
    padding: 3px 7px;
    display: inline-block;
    margin-right: 8px;
    .label-text{
        p{
            font-size: 12px;
        }
    }
}

.hero-container{
    height: 500px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    h2{
        font-weight: 800;
        color: #1C1E21;
        font-size: 1.3rem;
    }
    p{
        font-weight: 400;
        color: #919191;
        font-size: 1rem;
    }
}



.list-section{
    margin-top: 24px;
    .section-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        h2{
            font-weight: 600;
            font-size: 1rem;
        }
        .header-icon {
            div{
                font-size: 0.8rem;
                background-color: #eeeeee;
                color: #fff;
                padding: 3px 8px;
                border-radius: 4px;
                a{
                    text-decoration: none;
                    color: #606060;
                }

            }
        }
    }
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 0.5rem;
    border-radius: 12px;
    .info-nav{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
    }
    .info-header{
        display: flex;
        gap: 12px;
        .posters{
            img{
                width: 9rem;
                align-self: flex-start;
                border-radius: 5px;
            }
            .button{
                background-color: #f7f7f7;
                color: #898989;
                padding: 10px;
                display: flex;
                justify-content: center;
                border-radius: 3px;
                font-size: 0.8rem;
                font-weight: 300;
            }
            a{
                text-decoration: none;
            }
        }
    }
    .info-wrapper{
        overflow: auto;
        height: 500px;
        padding: 24px 12px 100px 12px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: fixed;
        bottom: -25rem;
        z-index: 100;
        .info-content{
            background-color: #f7f7f7;
            margin: 12px 0;
            padding: 8px;
            border-radius: 5px;
            color: #767676;
            padding: 8px;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }   
}
.card{
    width: 163px;
    height: 235px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    .card-image{
        
        img{
            width: 100%;
        }
    }
}

.hero-boxes{
    padding: 24px 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-y: auto;
    scroll-behavior: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.hero-boxes::-webkit-scrollbar{
    display: none;
}
.box-wrapper{
    border-radius: 9px;
    padding: 24px;
    width: 300px;
    scroll-snap-align: start;
    border: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .box-icon{
        color: #9396ce;
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-title{
        h2{
            font-weight: 600;
            font-size: 1.1rem;
            color: #585858;
        }
    }
    .box-text{
        p{
            font-weight: 400;
            font-size: 0.9rem;
            color: #ababab;
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #efefef;
    margin-top: 20px;
    padding: 16px 0;
    .footer-text{
        font-size: 0.8rem;
        color: #333333;
    }
}


.pagination{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 50px 0;
    li{
        list-style-type: none;
        background-color: #EBEDF0;
        color: grey;
        border-radius: 8px;
        button{
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Poppins';
            
        }
    }
}

.active{
    button{
        background-color: #636363;
        color: #fff;
    }
}


.metadata-wrapper{
    width: 100%;
    height: 400px;
    padding-top: 50px;
    .metadata-background{
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        height: 100%;
        width: 100%;
    }
    .sub-wrapper{
        position: relative;
        top: -200px;
        padding: 0 24px;
        .metadata-poster{
            img{
                width: 150px;
                border-radius: 8px;
                border: 1px solid #b9b9b9;
            }
        }
        .head-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .head-left{
                .tagline{
                    font-style: italic;
                    font-weight: 400;
                }
                
            }
            .head-right{
                img{
                    width: 50px;
                }
            }
        }
        .overview{
            font-weight: 400;
        }
    
    }
    .metadata-background::after{
        content: "";
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        width: 100%;
        height: 400px;
        top: 0;
        position: absolute;
    }
}


.load{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    p{
        font-weight: 600;
        font-size: 1.3rem;
    }
}

.banner-wrapper{
    margin: 24px 0;
    width: 100%;
    .banner{
        background-position: 0 -50px;
        margin: 0 0;
        height: 150px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        .banner-content{
            color: #fff;
            position: absolute;
            bottom: 24px;
            left: 24px;
            h2{
                font-size: 2rem;
                background-color: #010100;
                padding: 0 20px;
                display: inline;
            }
            p{
                font-size: 1rem;
                font-weight: 500;
                width: 300px;
            }
        }
    }

}

@media screen and (min-width: 320px) {
    // xtra-small
    
}

@media screen and (min-width: 480px) {
    // small
    .banner-wrapper{
        .banner{
            height: 200px;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar-container{
        .navbar-left{
            .icon{
                display: none;
            }
            h1{
                font-size: 1.6rem;
            }
        }
        .navbar-right{
            display: flex;
            align-items: center;
            gap: 24px;
            ul{
                display: flex;
            }
            .icon{
                font-size: 1.5rem;
                display: block;
            }
        }
    }

    .hero-container{
        height: 700px;
        img{
            width: 300px;
            height: 300px;
        }
    }

    .hero-boxes{  
        flex-direction: row;
        display: flex;
        .box-wrapper{
            width: 100%;
        }
    }

    .card-wrapper{
        .info-wrapper{
            width: 70%;
            height: 400px;
            border-radius: 8px;
            bottom: -5rem;
            .info-header{
                img{
                    width: 13rem;
                }
            }
            .info-content{
                .desc{
                    font-size: 1rem;
    
                }
            }
        }
        .card{
            width: 180px;
            height: 260px;
        }
    }

    .list-section{
        .section-header{
            .header-icon{
                div{
                    font-size: 1rem;
                }
            }
        }
    }

    .pagination{
        li{
            button{
                width: 37px;
                height: 37px;
                font-size: 1.2rem;
            }
        }
    }

    .banner-wrapper{
        .banner{

            height: 300px;
            .banner-content{
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .load{
        img{
            width: 200px;
            height: 200px;
        }
    }

    .metadata-wrapper{
        width: 70%;
        margin: 0 auto;
        .metadata-background::after{
            width: 70%;
        }
        .sub-wrapper{
            .metadata-poster{
                img{
                    width: 200px;
                }
            }
            .head-content{

                .head-right{
                    img{
                        width: 60px;
                    }
                }
            }
        }
    }
}



@media screen and (min-width: 992px) {
    //large
    .container{
        margin: 0 156px;
    }
    .navbar-container{
        padding: 0 156px;
    }
    .hero-container{
        flex-flow: row;
        gap: 2rem;
        img{
            width: 400px;
            height: 400px;
        }
        .hero-wrap-text{
            h2{
                font-size: 4rem;
            }
        }
    }

    .banner-wrapper{
        .banner{
            height: 340px;
            .banner-content{
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .metadata-wrapper{
        width: 60%;
        .metadata-background::after{
            width: 60%;
        }
    }
}

@media screen and (min-width: 1200px) {
    //xtra-large
    .container{
        margin: 0 256px;
    }
    .navbar-container{
        padding: 0 256px;
    }
    .card-wrapper{
        gap: 1rem;
        .info-wrapper{
            width: 50%;
        }
    }
}

@media screen and (min-width: 1550px) {
    //actually for 1920x1080
    .banner-wrapper{
        .banner{
            background-position-y: -200px;
        }
    }
}


//dark mode adjustment

.theme.dark::before{
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: #010100;  
}
.theme.dark{
    .navbar-container{
        background-color: #010100;
        color: #C7C7C7;
        box-shadow: none;
        border-bottom: 1px solid #464646;
        .navbar-right{
            a{
                color: #C7C7C7;
            }
        }
    }
    .sidebar-container{
        background-color: #010100;
        .sidebar-links{
            .icon{
                color: #fff;
            }
        }
        .sidebar-icon-close > * {
            color: #fff;
        }
    }
    .hero-container{
       h2{
        color: #fff;
       }
    }

    .box-wrapper{
        border: 1px solid #222222;
        background-color: #101010;
        .box-icon{
            color: #9396ce;
            background-color: rgb(56, 56, 56);
        }
        h2{
            color: #ffffff;
        }
    }

    .info-wrapper{
        background-color: #010100;
        color: #fff;
        border: 1px solid #181818;
        .info-content{
            background-color: #464646;
            color: #bebebe;
        }
    }
    .info-header{
        .posters{
            .button{
                background-color: #3a3a3a;
                color: #898989;
            }
        }
    }


    .footer{
        border-top: 1px solid #464646;
        .footer-text{
            color: #fff;
        }
    }

    .label-container{
        background-color: #333333;
        .label-text{
            p{
                color: #fff;
            }
        }
    }

    .list-section{
        .section-header{
            h2{
                color: #fff;
            }
            .header-icon{
                div{
                    background-color: #101010;
                }
                a{
                    color: #c1c1c1;
                }
            }
        }
    }

    .title-tvseries-page{
        color: #fff;
    }

    .searchbar{
        input{
            background-color: #010100;

        }
    }

    .load{
        p{
            color: #fff;
        }
    }

    .metadata-wrapper{
        color: #fff;
        .overview{
            color: #c8c8c8;
        }
    }

    .metadata-background::after{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }


}